@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

body {
  font-family: 'Electrolize', sans-serif;
  margin: 0;
  @apply bg-gray-50
}

.ant-btn-primary {
  background-color: #1677ff;
}

.menu-link .anticon {
  display: flex;
  justify-content: center;
}
/* Adjust pagination button width */
.custom-table .ant-pagination-item {
  min-width: 30px; /* Set the minimum width */
  text-align: center;
}

.custom-table .ant-pagination-item a {
  padding: 4px 8px; /* Adjust internal padding */
  font-size: 12px; /* Smaller font size for buttons */
}

.custom-table .ant-pagination-prev,
.custom-table .ant-pagination-next {
  min-width: 30px; /* Set width for Prev/Next buttons */
  text-align: center;
}

.custom-table .ant-pagination-options {
  display: none; /* Optional: Hide size changer dropdown */
}
.overscroll-behavior-block-contain {
  overflow-x: auto; /* Enable horizontal scrolling for small screens */
  width: 100%;
  max-width: 100%;
}




@media(min-width:768px) {

  body {
    overflow: hidden;
  }

  .categories::-webkit-scrollbar {
    display: none;
  }

  .products::-webkit-scrollbar {
    display: none;
  }

}
