.category-item {
    @apply bg-black px-6 py-10 text-white text-center cursor-pointer hover:bg-gray-700 transition-all min-w-[145px] flex items-center justify-center
}
/* Custom Scrollbar */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #555 #ddd;
}
.custom-scrollbar::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 4px;
}
  /* Category Item Styling */
  .category-item {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .category-item:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Responsive Design */
  @media (min-width: 768px) {
    /* Vertical scrolling for larger screens */
    ul {
      flex-direction: column;
      max-height: 80vh; /* Adjust for larger screens */
      overflow-y: auto;
    }
  }
  
  @media (max-width: 767px) {
    /* Horizontal scrolling for smaller screens */
    ul {
      flex-direction: row;
      max-height: 50vh; /* Adjust for smaller screens */
      overflow-x:auto;
    }
  }
  
  /* Smooth Scrolling */
  ul {
    scroll-behavior: smooth;
  }
  